<nav class="navbar">
  <div class="wrapper">
    <ul class="nav__list">
      <li><a href="/">餐廳前台</a></li>
      <li class="active"><a href="/admin">管理後台</a></li>
      <li><a href="/logout">登出</a></li>
    </ul>
  </div>
</nav>